<div class="body ng-scope">
	<div class="intro-bg">
		<div class="intro-bg-left">
		</div>

		<div class="intro-bg-center">
		</div>

		<div class="intro-bg-right">
		</div>
	</div>

	<div class="header">
		<div class="container-left">
		</div>

		<div class="container-center">
			<div class="header-text">
				<div class="header-text-inner">
				</div>

				<div class="header-text-triangle">
				</div>
			</div>

			<div class="header-logo">
			</div>
		</div>

		<div class="container-right">
		</div>
	</div>

	<div class="questions">
		<div class="container">
			
				{{content}}
				<div class="question-footer">
					<button class="main-btn" id="submitButton">
						{{buttonLabel}}
					</button>
				</div>
			</div>
		</div>
		{{template:myfooter}}
	</div>
</div>
